* {
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
}

* + * {
    margin-top: 1.5em;
}

body, br, dt, dd, th, td, option {
    margin-top: 0;
}

html {
    background-color: lightgray;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Garamond, Times, "Times New Roman", serif;
    font-feature-settings: "liga" on, "zero" on, "lnum" off, "onum" on, "kern" on, "ordn" on;
    font-kerning: normal;
    font-variant-ligatures: common-ligatures;
    font-variant-numeric: oldstyle-nums ordinal slashed-zero;
    font-size: 20px;
    line-height: 1.4em;
    text-rendering: optimizeLegibility;
}

body {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    max-width: 40em;
}

a:link {
    color: #1456cc;
}

a:visited {
    color: #de3d83;
}

article {
    border: 1px solid black;
    padding: 1em;
}

article figure img, article video {
    max-width: 100%;
}

article img.avatar {
    max-width: 48px;
}

div.actions > span {
    margin-right: 1em;
}

div.actions a {
    color: black;
    text-decoration: none;
}

div.actions span.favourited a {
    color: goldenrod;
}

div.actions span.reblogged a {
    color: green;
}

time, span.event-action {
    font-size: smaller;
    margin-left: 1em;
}

input, textarea {
    box-sizing: border-box;
    padding: 0.5em;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-top: 0;
}

hr {
    display: none;
}
